<h1>
    Application Manager / <%= title %>

</h1>
<a href="/all-jobs">Show all jobs fetched from the github-jobs api</a><br>
<a href="/all-jobs-again">Show all jobs fetched from the github-jobs api</a>