<html>

<head>
    <link rel="stylesheet" href="/css/signUp.css">
</head>

<body>
    <% for(res of interviews.student){ %>
    <li>
        <%= res.name%>
    </li>
    <div>
        <form method="POST" action="/results/update/?name=<%=res.id%>&company=<%=interviews.id%>">
            <label for="sel1" class="headings">result</label>
            <select class="form-control" id="sel1" name="category">
                <option>On hold</option>
                <option>Pass</option>
                <option>Fail</option>
                <option>Didn't Attempt</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
    <%}%>

</body>

</html>